In [77]:
import pandas as pd

In [78]:
df=pd.read_csv('salaries.csv')
df.head(2)

  company              job     degree  salary_more_then_100k
0  google  sales executive  bachelors                      0
1  google  sales executive    masters                      0

In [79]:
input=df.drop('salary_more_then_100k',axis=1)

In [80]:
target=df.salary_more_then_100k
target.tail(2)

14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [81]:
from sklearn.preprocessing import LabelEncoder

In [82]:
le_company=LabelEncoder()
le_job=LabelEncoder()
le_degree=LabelEncoder()

In [83]:
dfl=df

In [87]:
dfl['job']= le_job.fit_transform(dfl['job'])
dfl['degree']= le_degree.fit_transform(dfl['degree'])
dfl['company']= le_company.fit_transform(dfl['company'])

(    company  job  degree
 0         2    2       0
 1         2    2       1
 2         2    0       0
 3         2    0       1
 4         2    1       0
 5         2    1       1
 6         0    2       1
 7         0    1       0
 8         0    0       0
 9         0    0       1
 10        1    2       0
 11        1    2       1
 12        1    0       0
 13        1    0       1
 14        1    1       0
 15        1    1       1,
     company  job  degree  salary_more_then_100k
 0         2    2       0                      0
 1         2    2       1                      0
 2         2    0       0                      1
 3         2    0       1                      1
 4         2    1       0                      0
 5         2    1       1                      1
 6         0    2       1                      0
 7         0    1       0                      0
 8         0    0       0                      0
 9         0    0       1                      1
 10        1    2       0                      1
 11        1    2       1                      1
 12        1    0       0                      1
 13        1    0       1                      1
 14        1    1       0                      1
 15        1    1       1                      1)

In [85]:
dfl=dfl.drop('salary_more_then_100k',axis=1)

In [86]:
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [68]:
from sklearn import tree

In [69]:
model=tree.DecisionTreeClassifier()

In [70]:
model.fit(dfl,target)

DecisionTreeClassifier()

In [75]:
model.predict([[1,2,0]])

c:\users\shivam\appdata\local\programs\python\python37\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([1], dtype=int64)

In [72]:
model.score(dfl,target)

1.0

In [ ]:
mode